<p *ngIf="!(blogPosts$ | async)"> loading posts...</p>
<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let blogPost of blogPosts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
               <p><b>Title: </b>{{ blogPost.title}}</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p> <b>Body:</b><q> {{blogPost.body}}</q></p>
        <br>
        <b>postID:</b> {{ blogPost.id}}<br><br>
        <p> <a  [routerLink] = "[blogPost.id,'comments']"> see post comments </a></p>.<br><br>
        <button mat-raised-button color="primary" (click)="add(blogPost.title,blogPost.body,blogPost.id)">SAVE</button>

    </mat-expansion-panel>
</mat-accordion>
